* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 18px;
  font-family: sans-serif;
}

li {
  font-size: 18px;
  font-family: sans-serif;
}


#linkedin {
  margin-left: 42px;
  background-color: #0077b5;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
  padding: 15px 25px;
  border-radius: 6px;
}


#links {

  padding-left:42px;
}

.links-externos {
  padding-inline-start: 42px;
  font-size: 20px;
}

#linkedin-button {
  
  float: left;
}



.header {
  background-image: url(images/pexels-neo-2653362.jpg);
  background-position: 50% 25%;
  background-size: cover;
  top: 200px;
  padding: 15px 30px 1000px;
}

#header-content h1 {
  color: white;
  position:absolute;
  font-size: 50px;
  left: 50px;
  top: 350px;
}

#header-content h2 {
  color: white;
  position:absolute;
  top: 415px;
  left: 65px;
  font-size: 35px;
}

.foto-perfil {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 50%;
}

.mini-bandeiras {
  margin-top: 5px;
}

.images-abilities {
  width: 60px;
}

.links-uteis {
  margin-bottom: 50px;
}

.indice {
  padding: 10px 90px 60px 50px;
  background-size: cover;
  background-position: 100%;
  background-color: gray;
  border-bottom: greenyellow 7px solid;
  width: 30%;
  display: inline-block;
  position:fixed;
  width: 100vw;
  z-index: 999;
}

.indice h1 {
  color: aliceblue;
  position: relative;
  text-align: right;
  padding-right: 100px;
}

.indice h2 {
  color: aliceblue;
  /* position: relative; */
  /* text-align: right; */
  padding-right: 100px;
}

#quemsou-titulo {
  margin-bottom: 10px;
}

.quemsou p {
  margin-bottom: 20px;
}